.section .container {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.section-title {
    font-size: var(--h1-font-size);
    margin-left: var(--m-0-75);
    margin-bottom: var(--m-2-5);
}

.about-img {
    flex: 0 0 25%;
    max-width: 25%;
}

.about-content {
    flex: 0 0 75%;
    max-width: 75%;
}

.about-img img {
    margin-bottom: var(--m-1);
    border-radius: 50%;
    border: 2px solid #000;
    width: 200px;
    height: 200px;
}

.rounded {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
}

.about-text p {
    text-align: justify;
    margin-bottom: var(--m-1);
}

.cv-btn i {
    display: inline-flex;
}