.home {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
}

.home .intro {
    max-width: 540px;
    text-align: center;
}

.home .intro img {
    margin-bottom: var(--m-1);
    border-radius: 50%;
    border: 2px solid #000;
    width: 215px;
    height: 215px;
}

.home .intro .social-icons {
    margin-top: var(--m-1-5);
    margin-bottom: var(--m-2);
}

.home .intro .social-icons li {
    display: inline-block;
}

.home .intro .social-icons li:not(:last-child) {
    margin-right: var(--m-1-5);
}

.home .intro .social-icons a {
    font-size: var(--h3-font-size);
}

.scroll-down {
    position: absolute;
    bottom: var(--m-2-5);
    left: 0;
    width: 100%;
}

.mouse-wrapper {
    font-size: var(--small-font-size);
    display: block;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

@keyframes ani-mouse
{
    0%
    {
        top: 29%;
    }
    15%
    {
        top: 50%;
    }
    50%
    {
        top: 50%;
    }
    100%
    {
        top: 29%;
    }
}

.mouse {
    border: 2px solid var(--color-dark);
    display: block;
    height: 1.75rem;
    width: 1.25rem;
    margin: auto;
    margin-top: var(--m-0-75);
    border-radius: var(--border-radius);
    position: relative;
}

.mouse .wheel {
    background-color: var(--color-dark);
    border-radius: 50%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: var(--m-0-5);
    left: 40%;
    display: block;
    animation: ani-mouse 2s linear infinite;

}