/* fonts */
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
} 

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
} 

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/static/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --header-height: 3.5rem;
  /*56px*/

  /* colors - hsl (оттенок, насыщение, яркость) */
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(255, 35%, 93%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(352, 75%, 60%);
  --color-dark: hsl(252, 30%, 17%);
  --color-alt: #575757;
  --border-color: #d6d6d6;
  --bg-primary-color: #db6f6f;
  --bg-color-alt: #d4d4d4;

  /* font - .5rem = 8px | 1rem = 16px */
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 1.65rem;
  /* 1.55 */
  --h2-font-size: 1.45rem;
  /* 1.35 */
  --h3-font-size: 1.25rem;
  /* 1.15 */

  --normal-font-size: 1.15rem;
  --small-font-size: 1rem;

  --font-medium: 400;
  --font-semi-bold: 600;

  /* margenes */
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  --card-padding: 1.9rem 0.95rem;
  --border-radius: 1.25rem;
  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);

  --nb-slides: 5;
  --dot-size: 15px;
}

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.7;
  font-weight: var(--font-medium);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.icon {
  width: 35px;
  height: 35px;
  border: none;
  margin-bottom: 0;
  border-radius:0%;
}

.home .intro .icon {
  width: 35px;
  height: 35px;
  border: none;
  margin-bottom: 0;
  border-radius:0%;
}

/* .social-icons {
  width: 25%;
  height: 25%;
} */

/* layout */
.container {
  max-width: 1440px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: var(--border-radius);
}

.btn:focus {
  outline: 0;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn-default {
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  background-color: var(--color-primary);
  transform: perspective(1px) translateZ(0);
  cursor: crosshair;
}

.btn-default:hover {
  animation-name: button-push;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* header */
.header {
  width: 100%;
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav-logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.1rem;
  position: relative;
  /* HOW TO UNDERSTAND POSITION */
}

.nav-logo::after {
  position: absolute;
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  top: 55%;
  right: -0.25rem;
}

.nav-menu {
  margin-left: auto;
}

.nav-list {
  display: flex;
  column-gap: 3rem;
}

.nav-link {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav-link:hover {
  color: var(--color-primary)
}

.nav-btns {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  column-gap: 1rem;
}

.change-theme {
  cursor: pointer;
}

.nav-toggle {
  font-size: 1.85rem;
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}

/* main */
.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.home .intro {
  max-width: 540px;
  text-align: center;
}

.home .intro img {  
  margin-bottom: var(--m-1);
  border-radius: 50%;
  border: 2px solid #000;
  width: 215px;
  height: 215px;
}

.home .intro .social-icons {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-2);
}

.home .intro .social-icons li {
  display: inline-block;
}

.home .intro .social-icons li:not(:last-child) {
  margin-right: var(--m-1-5);
}

.home .intro .social-icons a {
  font-size: var(--h3-font-size);
}

.scroll-down {
  position: absolute;
  bottom: var(--m-2-5);
  left: 0;
  width: 100%;
}

.mouse-wrapper {
  font-size: var(--small-font-size);
  display: block;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

.mouse {
  border: 2px solid var(--color-dark);
  display: block;
  height: 1.75rem;
  width: 1.25rem;
  margin: auto;
  margin-top: var(--m-0-75);
  border-radius: var(--border-radius);
  position: relative;
}

.mouse .wheel {
  background-color: var(--color-dark);
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: var(--m-0-5);
  left: 40%;
  display: block;
  animation: ani-mouse 2s linear infinite;
}

/* about me */
.section .container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--m-2-5);
  margin-top: var(--m-0-5);
}

.first-section-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--m-2-5);
  padding-top: 6.75rem;
}

.about-img {
  flex: 0 0 25%;
  max-width: 25%;
  margin: auto;
}

.about-content {
  flex: 0 0 75%;
  max-width: 75%;
}

.about-img img {
  margin-bottom: var(--m-1);
  border-radius: 50%;
  border: 2px solid #000;
  width: 200px;
  height: 200px;
}

.rounded {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
}

.about-text p {
  text-align: justify;
  margin-bottom: var(--m-1);
}

.cv-btn i {
  display: inline-flex;
}

/* services */
.services .service-item {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
}

.services .service-item .service-item-inner {
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  text-align: center;
  transform: translateY(0);
  transition: 0.3s;
}

.services .service-item .service-item-inner:hover {
  transform: translateY(-0.625rem);
}

.service-item-inner img {
  margin-bottom: var(--m-0-75);
  border-radius: 25%;
  width: 300px;
  height: 300px;
}

.services .service-item img {
  margin-bottom: var(--m-0-75);
}

.service-item h3 {
  margin-bottom: var(--m-0-5);
  font-size: var(--h3-font-size);
}

.text {
  text-align: center;
  margin-top: var(--m-2-5);
}

.text a {
  position: relative;
  color: var(--color-primary);
  transition: 0.3s;
}

.text a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--bg-primary-color);
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.text a:hover::after,
.text a:focus::after {
  opacity: 1;
  transform: scale(1);
}

.text-sm {
  font-size: var(--small-font-size);
}

/* carousel */
.carousel {
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	max-width:700px
}

#proparallax {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 31rem;
	border: 5px black;
  border-radius: var(--border-radius);
	box-shadow: 0px 8px 10px 8px grey;
}

#proparallax img {
	position: absolute;
	width: 50rem;
	height: 31rem;
	overflow: hidden;
	object-fit: cover;
}

@keyframes parallax_one {
	0% {
		height: 31rem;
		width: 50rem;
		left: 0rem;
		opacity: 1;
	}	
  27.77% {
		width: 50rem;
		left: 0rem;
	}
	27.78% {
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	33.33% {
		height: 31rem;
		width: 0rem;
		left: 0rem;
		right: 0rem;
		opacity: 1;
	}
	33.34% {
		opacity: 0;	
	}
	94.43% {
		left: 0rem;
		opacity: 0;
	}
	94.44% {
		height: 31rem;
		width: 0rem;
		left: 50rem;
		opacity: 1;
	}
	100% {
		width: 50rem;
		left: 0rem;
		opacity: 1;		
	}
}

@keyframes parallax_two {
	0% {
		opacity: 0;
	}
	27.77% {
		left: 0rem;
		opacity: 0;
	}
	27.78% {
		width: 0rem;
		height: 31rem;
		left: 50rem;
		opacity: 1;
	}
	33.33% {
		width: 50rem;
		left: 0rem;
	}
	61.10%{
		width: 50rem;
		left: 0rem;
	}
	61.11% {
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	66.67% {
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 31rem;
		opacity: 1;
	}
	66.68% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes parallax_three {
	0% {
		opacity: 0;
	}
	61.10%{ 
		opacity: 0;
	}
	61.11% {
		width: 0rem;
		height: 31rem;
		left: 50rem;
		opacity: 1;		
	}
	66.67% { 
		width: 50rem;
		left: 0rem;
	}
	94.43% { 
		width: 50rem;
		left: 0rem;
	}
	94.44% { 
		width: 50rem;
		left: 0rem;
		right: 50rem;
	}
	100% { 
		width: 0rem;
		right: 0rem;
		left: 0rem;
		height: 31rem;
		opacity: 1;
	}
}

#proparallax img.one{
	animation-name: parallax_one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}

#proparallax img.two {
	animation-name: parallax_two;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;
}

#proparallax img.three {
	animation-name: parallax_three;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 15s;  
}

/* footer */
.footer {
  padding: 30px 0;
}

.footer-text {
  text-align: center;
}

/* resume */
.grid {
  display: grid;
}

.resume-container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.75rem;
}

.resume-title,
.skills-title {
  text-align: center;
  letter-spacing: 0.4em;
  margin-bottom: 2em;
}

.resume-item {
  border-left: 2px solid var(--color-dark);
  padding-left: 1.5rem;
  position: relative;
}

.resume-item:not(:last-child) {
  padding-bottom: 3rem;
}

.resume-item::before {
  /* line height sets up height for text and that's why circles are higher */
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--color-dark);
  position: absolute;
  left: -0.5rem;
  background-color: var(--color-primary);
}

.resume-subtitle {
  margin-bottom: 0.3em;
}

.resume-date {
  color: var(--color-alt);
  margin-bottom: 0.7em;
}

.resume-description {
  text-align: justify;
  font-size: var(--normal-font-size);
}

/* skills */
.skills-container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.75rem;
}

.skills-list {
  row-gap: 1.8rem;
}

.skills-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

.skills-bar,
.skills-percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills-bar {
  background-color: var(--bg-color-alt);
}

.skills-percentage {
  display: block;
  background-color: var(--color-primary);
}

/* projects */
.projects-container {
  row-gap: 2.5rem;
}

.project-item {
  grid-template-columns: 6.5fr 5.5fr;
  column-gap: 1rem;
}

.project-img {
  display: block;
  margin: auto;
  border-radius: var(--border-radius);
}

.project-data {
  padding: 3rem 3rem 2.5rem 1.875rem;
}

.project-title {
  margin-bottom: 0.8em;
  text-align: justify;
}

.project-description {
  margin-bottom: 2.5em;
  text-align: justify;
}

.project-stack {
  margin-bottom: 1.25em;
}

.tags li {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
  background-color: var(--bg-color-alt);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
}

.projects-container .project-link {
  position: relative;
  float: right;
  margin-top: 4rem;
  color: var(--color-primary);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.projects-container .project-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--bg-primary-color);
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
}

.projects-container .project-link:hover::after,
.projects-container .project-link:focus::after {
  opacity: 1;
  transform: scale(1);
}

/* contactme */
.contact .section-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--m-0-5);
  padding-top: 6.75rem;
  text-align: center;
}

.contact .section-subtitle {
  display: flex;
  justify-content: center;
  font-size: var(--h3-font-size);
}

.contact .container {
  row-gap: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.contact-information {
  display: inline-flex;
  margin-bottom: var(--m-2);
  align-items: center;
}

.contact-information:not(:first-child) {
  margin-left: 2rem;
}

.contact-icon {
  margin-right: var(--m-0-75);
}

.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact-subtitle {
  font-size: var(--small-font-size);
}

.contact-content {
  position: relative;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem 0.25rem;
  margin-bottom: 1rem;
}

.contact-label {
  font-size: var(--small-font-size);
}

.contact-input {
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-dark);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact-information img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0%;
  margin-right: 1rem;
}

.contact-information a {
  position: relative;
  transition: 0.3s;
  color: var(--color-primary);
}

.contact-information a::after {
  content: "";
  position: absolute;
  margin-top: 5px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--bg-primary-color);
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
}

.contact-information a:hover::after,
.contact-information a:focus::after {
  opacity: 1;
  transform: scale(1);
}
